@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1500px;

  /* Fonts */
  --font-libreBaskerville: var(--font-libre-baskerville);
  --font-alexBrush: var(--font-alex-brush);

  /* Colors */
  --color-accentGreen: #4b5f4b;
  --color-lightGreen: #7f8d72;

  /* Assets */
  --background-image-hero: url("/treehouse.jpg");
  --background-image-countdown: url("/treehouse2.jpg");
  --background-image-alaturi: url("/alaturi.jpg");
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 15px;
  }
}

/* BASE STYLES */
@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-libreBaskerville overflow-x-hidden tracking-[0.5px] text-white;
  }

  h1,
  h2,
  h3 {
    @apply leading-3 font-bold;
  }

  h1 {
    @apply text-4xl font-bold tracking-[-2px] xl:text-[80px] xl:leading-[80px] leading-10;
  }
  h2 {
    @apply text-4xl font-bold leading-8;
  }
  h3 {
    @apply text-3xl font-bold leading-8;
  }
  h4 {
    @apply text-[22px] font-semibold;
  }
  p {
    @apply leading-8;
  }
  a {
    @apply cursor-pointer transition-all duration-300;
  }
  label {
    @apply mb-2 block font-normal;
  }
}

